---
layout: default
title: Song Lab
subtitle: Li Song Lab
use-site-title: true
---
<style>
  hr {
    border-width: 3px; 
    color: #022a5b;
  }
</style>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    <img src="/img/people/li_song.png" width="230" height="346">
                </p>
            </div>
            <div class="col-lg-9">
                <p>
								Li Song is an Assistant Professor at the <a href="https://geiselmed.dartmouth.edu/bmds/">Department of Biomedical Data Science</a> at Geisel School of Medicine at Dartmouth.
								He obtained his Ph.D degree in Computer Science from Johns Hopkins University in 2018 (Advisor: <a href="http://florealab.org/">Liliana Florea</a>), and a second master degree in Applied Mathematics and Statistics there. He then joined <a href="https://liulab-dfci.github.io/">X. Shirley Liu</a> lab and <a href="https://hlilab.github.io/">Heng Li</a> lab at the Department of Data Science in Dana-Farber Cancer Insitute to be trained as postdoc. 
								His work focuses on algorithm development to better analyze next-generation sequencing data, especially for immunology. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
       <p>We are looking for passionate <b>postdocs, graduate students, and rotation students to join our team!</b> Please contact Li.Song@dartmouth.edu to discuss. Students can apply Dartmouth <a href="https://geiselmed.dartmouth.edu/qbs/">Quantative Biomedical Sciences</a> program or <a href="https://web.cs.dartmouth.edu/">Department of Computer Science</a>.</p>
        <p>
        <hr />
        <h2>Research interests</h2>
        <p>
				Our research interest is to design algorithms and developing highly-efficent methods to analyze sequencing data. These methods have been widely used to investigate immune receptors, microbiome and transcriptome.
        </p>
        <h4> Computational Immunology </h4>
        <p>
        Many immune-related genes are not well represented on human reference genome, and requires specialized method to analyze. One example is the T-cell receptor (TCR) and B-cell receptor (BCR) that can be different from cell to cell. We have developed the method <a href="https://github.com/liulab-dfci/TRUST4">TRUST4</a> to <em>de novo</em>-ly assemble these receptors from bulk and single-cell RNA-seq data. We have applied TRUST4 to study how the immune repertoire change in various diseases, such as cancers. Another immune gene is HLA and KIR, which can be different from people to people. Therefore, we developed the method <a href="https://github.com/mourisl/T1K">T1K</a> to genotype these highly polymorphic immune genes. Currently, we are particularly interested in improving these methods and applying them to disease studies.
        </p>
        <h4> Computational Microbiology </h4>
        <p>
        The challenge in identifying microbiome composition from sequencing data is to align the reads to the huge microbial genome database which is difficult to store in memory. We have developed the method <a href="https://github.com/mourisl/centrifuger"> Centrifuger</a> that can losslessly compressing the microbial database for taxonomic classification. This method improves our previous method <a href="https://github.com/DaehwanKimLab/centrifuge"> Centrifuge</a>. Our future goal is keeping improving Centrifuger, in data structure and classificaiton accuracy, and applying it to more microbiome studies.
        </p>
        <hr />
        <h2>Selected Publications</h2>
        <p>
        <ul>
          <li><strong>Song L*</strong>, Langmead B, <em>Centrifuger: lossless compression of microbial genomes for efficient and accurate metagenomic sequence classification</em>, Genome Biol. 2024 Apr 25;25(1):106. [<a href="https://pubmed.ncbi.nlm.nih.gov/38664753/">PubMed</a>] (<span style="color:blue"><strong>Best Paper Award at RECOMB2024</strong></span>) (*:corresponding author)</li>
          <li><strong>Song L</strong>,  Cohen, D, Ouyang, Z, Cao, Y, Hu, X and Liu, XS, <em>TRUST4: immune repertoire reconstruction from bulk and single-cell RNA-seq data</em>. Nat Methods. 2021 Jun;18(6):627-630. [<a href="https://pubmed.ncbi.nlm.nih.gov/33986545/">PubMed</a>]</li>
          <li><strong>Song L</strong>, Bai G, Liu XS, Li B and Li H, <em>Efficient and accurate KIR and HLA genotyping with massive parallel sequencing data</em>. Genome Res. 2023 Jun;33(6):923-931. [<a href="https://pubmed.ncbi.nlm.nih.gov/37169596/">PubMed</a>]</li>
          <li>Zhang H, <strong>Song L#</strong>, …, Liu XS, Li H, <em>Fast alignment and preprocessing of chromatin profiles with Chromap</em>. Nat Commun. 2021 Nov 12;12(1):6566. [<a href="https://pubmed.ncbi.nlm.nih.gov/34772935/">PubMed</a>] (#: co-first author)</li>
          <li><strong>Song L</strong>, Sabunciyan S, Yang G and Florea L, <em>A multi-sample approach increases the accuracy of transcript assembly</em>. Nat Commun. 2019 Nov 1;10(1):5000. [<a href="https://pubmed.ncbi.nlm.nih.gov/31676772/">PubMed</a>]</li>
        </ul>
        See full publication list of our lab <a href=https://mourisl.github.io/publication>here</a>.
        </p>
    </div>
</div>

<!--<div class="posts-list">-->
  <!--{% for post in paginator.posts %}-->
  <!--<article class="post-preview">-->
    <!--<a href="{{ post.url | relative_url }}">-->
	  <!--<h2 class="post-title">{{ post.title }}</h2>-->

	  <!--{% if post.subtitle %}-->
	  <!--<h3 class="post-subtitle">-->
	    <!--{{ post.subtitle }}-->
	  <!--</h3>-->
	  <!--{% endif %}-->
    <!--</a>-->

    <!--<p class="post-meta">-->
      <!--Posted on {{ post.date | date: site.date_format }}-->
    <!--</p>-->

    <!--<div class="post-entry-container">-->
      <!--{% if post.image %}-->
      <!--<div class="post-image">-->
        <!--<a href="{{ post.url | relative_url }}">-->
          <!--<img src="{{ post.image | relative_url }}">-->
        <!--</a>-->
      <!--</div>-->
      <!--{% endif %}-->
      <!--<div class="post-entry">-->
        <!--{{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}-->
        <!--{% assign excerpt_word_count = post.excerpt | number_of_words %}-->
        <!--{% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}-->
          <!--<a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>-->
        <!--{% endif %}-->
      <!--</div>-->
    <!--</div>-->

    <!--{% if post.tags.size > 0 %}-->
    <!--<div class="blog-tags">-->
      <!--Tags:-->
      <!--{% if site.link-tags %}-->
      <!--{% for tag in post.tags %}-->
      <!--<a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>-->
      <!--{% endfor %}-->
      <!--{% else %}-->
        <!--{{ post.tags | join: ", " }}-->
      <!--{% endif %}-->
    <!--</div>-->
    <!--{% endif %}-->

   <!--</article>-->
  <!--{% endfor %}-->
<!--</div>-->

<!--{% if paginator.total_pages > 1 %}-->
<!--<ul class="pager main-pager">-->
  <!--{% if paginator.previous_page %}-->
  <!--<li class="previous">-->
    <!--<a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>-->
  <!--</li>-->
  <!--{% endif %}-->
  <!--{% if paginator.next_page %}-->
  <!--<li class="next">-->
    <!--<a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>-->
  <!--</li>-->
  <!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->
